body {
    counter-reset: example 0
                   theorem 0
                   lemma 0
                   proof 0
                   definition 0
                   corollary 0
                   remark 0
                   proposition 0
                   listing 0;
}
figure {
    float: center;
    /* width: 30%; */
    text-align: center;
    font-style: italic;
    /* font-size: smaller; */
    text-indent: 0;
    border: thin solid;
    margin: 0.5em;
    padding: 0.5em;
}
a.sourceLine{
    border-bottom-style: none !important
}
a.sourceCode{
    border-bottom-style: none !important
}
.project{
    display: block;
    margin: 12px 0;
    font-style: italic;
    overflow: hidden;
}
.project:before {
    name: "";
    content: attr(name);
    white-space: nowrap;
    font-weight: bold;
    font-style: normal;
}
ul.project-links {
  float: right;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}
ul.project-links li {
  float: right;
  padding: 3px;
}
div.sourceCode:after {
    display: flex;
    justify-content: center;
    data-title-name: "";
    text-align: center;
    counter-increment: listing;
    content: "Listing " counter(listing) ". " attr(data-title-name);
    /* font-weight: bold; */
    font-style: normal;
}
/*
 *
 * The following was originally inspired by
 * http://drz.ac/2013/01/17/latex-theorem-like-environments-for-the-web/
 *
 */
.theorem {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.theorem:before {
    data-title-name: "";
    counter-increment: theorem;
    content: "Theorem " counter(theorem) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}
.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    data-title-name: "";
    counter-increment: lemma;
    content: "Lemma " counter(lemma) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}
.corollary {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.corollary:before {
    data-title-name: "";
    counter-increment: corollary;
    content: "Corollary " counter(corollary) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
    overflow: auto;
}
.proof:before {
    data-title-name: "";
    counter-increment: proof;
    content: "Proof " counter(proof) ". " attr(data-title-name);
    font-style: italic;
}
.proof:after {
    /* content: "\A\25FC"; */
    /* white-space: pre-wrap; */
    content: "\25FC";
    float: right;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    data-title-name: "";
    counter-increment: definition;
    content: "Definition " counter(definition) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}
.example{
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.example:before {
    data-title-name: "";
    counter-increment: example;
    content: "Example " counter(example) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}
.proposition{
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.proposition:before {
    data-title-name: "";
    counter-increment: proposition;
    content: "Proposition " counter(proposition) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}
.remark{
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.remark:before {
    data-title-name: "";
    counter-increment: remark;
    content: "Remark " counter(remark) ". " attr(data-title-name);
    font-weight: bold;
    font-style: normal;
}

/* .references{ */
/*   display: block; */
/*   margin: 12px 0; */
/*   font-style: italic; */
/* } */
