.project{ 
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.project:before {
    name: "";
    content: attr(name);
    /* white-space: pre; */
    font-weight: bold;
    font-style: normal;
}

/* From http://drz.ac/2013/01/17/latex-theorem-like-environments-for-the-web/ */

.theorem { 
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.theorem:before {
    env-number: "";
    title-name: "";
    content: "Theorem " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}
.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    env-number: "";
    title-name: "";
    content: "Lemma " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}
.corollary {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.corollary:before {
    env-number: "";
    title-name: "";
    content: "Corollary " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    env-number: "";
    title-name: "";
    content: "Proof " attr(env-number) ". " attr(title-name);
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    env-number: "";
    title-name: "";
    content: "Definition " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}
.example{
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.example:before {
    env-number: "";
    title-name: "";
    content: "Example " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}
.proposition{
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.proposition:before {
    env-number: "";
    title-name: "";
    content: "Proposition " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}
.remark{
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.remark:before {
    env-number: "";
    title-name: "";
    content: "Remark " attr(env-number) ". " attr(title-name);
    font-weight: bold;
    font-style: normal;
}

/* .references{ */
/*   display: block; */
/*   margin: 12px 0; */
/*   font-style: italic; */
/* } */

